<h3>{{title}}</h3>

<h5>Diretiva *ngIf</h5>
<app-diretiva-ngif></app-diretiva-ngif>

<br>

<h5>Diretiva *ngSwitch</h5>
<app-diretiva-ngswitch></app-diretiva-ngswitch>

<br>

<h5>Diretiva *ngFor</h5>
<app-diretiva-ngfor></app-diretiva-ngfor>

<br>

<h5>Diretiva *ngClass</h5>
<app-diretiva-ngclass></app-diretiva-ngclass>

<br>

<h5>Diretiva *ngStyle</h5>
<app-diretiva-ngstyle></app-diretiva-ngstyle>

<br>

<h5>Operador Elvis ?.</h5>
<app-operador-elvis></app-operador-elvis>

<br>

<h5>Exemplo ng-content</h5>
<!--
    <app-ng-content>
        Conteúdo passado para o componente
    </app-ng-content>
-->
<app-ng-content>
    <div class="titulo">Título do Painel Através do Seletor Título</div>
    <div class="corpo">Conteúdo passado para o componente, através do seletor corpo</div>
    <div class="corpo">Quando declarado mais de um seletor com o mesmo nome, será concatenado...</div>
</app-ng-content>

<br>

<h5>Diretiva Customizada ElementRef e Renderer</h5>
<app-diretivas-customizadas></app-diretivas-customizadas>



