<section>
    <!--
        <article class="data-binding">
            <h2>Data Binding</h2>
            <app-data-binding></app-data-binding>
        </article>
    -->
    <article class="ciclo-vida">
        <h2>Ciclo de Vida</h2>
        <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
        <button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
        <button class="btn btn-warning" (click)="destruirCiclo()">Destruir Ciclo</button>
    </article>
</section>


